<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html {% block html_attributes %}class="no-js"{% endblock %}>
<head>
    {% block meta_tags %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">#}

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/css/index.css">
    {% endblock stylesheets %}

    <title>{% block title %}{{ 'main_page.title'|trans({}, 'TimVhostingBundle') }}{% endblock %}</title>
</head>
<body>

{% block header %}
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('Home') }}">{{ 'main_page.logo_name'|trans({}, 'TimVhostingBundle') }}</a>
                    </div>

                    <div id="navbar" class="collapse navbar-collapse">
                        {% block header_additional_navbar_before %}
                        {% endblock header_additional_navbar_before %}

                        {% block header_navbar %}
                        <ul class="nav navbar-nav">

                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            {% set currentRoute = app.request.attributes.get('_route') %}
                            <li class="{% if currentRoute == ('Home') %}active{% endif %}"><a href="{{ path('Home') }}">{{ 'header.home'|trans({}, 'TimVhostingBundle') }}</a></li>
                            <li class="{% if currentRoute == ('Contribute') %}active{% endif %}"><a href="{{ path('Contribute') }}">{{ 'header.contribute'|trans({}, 'TimVhostingBundle') }}</a></li>
                            <li class="{% if currentRoute == ('About') %}active{% endif %}"><a href="{{ path('About') }}">{{ 'header.about'|trans({}, 'TimVhostingBundle') }}</a></li>
                            <li class="{% if currentRoute == ('Contact') %}active{% endif %}"><a href="{{ path('Contact') }}">{{ 'header.contact'|trans({}, 'TimVhostingBundle') }}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'header.language'|trans({}, 'TimVhostingBundle') }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('ChangeLanguage', { 'name' : 'en'}) }}">En (English)</a></li>
                                    <li><a href="{{ path('ChangeLanguage', { 'name' : 'fr'}) }}">Fr (Français)</a></li>
                                    <li><a href="{{ path('ChangeLanguage', { 'name' : 'ru'}) }}">Ru (Русский)</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right">
                            <input class="form-control" name="search" placeholder="{{ 'header.search'|trans({}, 'TimVhostingBundle') }}..." type="text">
                        </form>
                        {% endblock header_navbar %}

                        {% block header_additional_navbar_after %}
                        {% endblock header_additional_navbar_after %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block body %}
{% endblock body %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            {% block footer_container %}
            <p class="pull-center"><a href="#">Copyright © My Website 2015</a></p>
            {% endblock footer_container %}
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>#}

    {#<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>#}

    <script src="/js/app.js"></script>
    <script src="/js/retina.min.js"></script>
{% endblock %}

</body>
</html>