{% extends '@TimVhosting/layout.html.twig' %}
{% form_theme form '@TimVhosting/Form/video_suggest_form_theme.html.twig' %}

{% block title %}
    {{ 'contribute.title.label'|trans({}, 'TimVhostingBundle') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="header-page">{{ 'contribute.header.label'|trans({}, 'TimVhostingBundle') }}</h1>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <p class="bg-success">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="flash-notice">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </p>

                <p class="bg-error">
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="flash-error">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <h4>{{ 'contribute.message.label'|trans({}, 'TimVhostingBundle') }}</h4>
                </div>
            </div>
        </div>

        <br/>

        {{ form(form, {'class': 'form-horizontal', 'attr': {'class': 'form-horizontal'} }) }}

        <script type="text/javascript">
            /*
            * Jquery solution
            $(document).ready(function() {
            });*/
            var id = '{{ form.tags.vars.id }}';
            document.addEventListener("DOMContentLoaded", function(event) {
                $('#' + id).select2({
                    maximumSelectionLength: 5
                });
            });
        </script>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
{% endblock stylesheets %}