{% extends '@TimVhosting/layout.html.twig' %}

 {% block stylesheets %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    {% stylesheets '@TimVhostingBundle/Resources/public/css/frontend1.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
     {% endstylesheets %}
 {% endblock stylesheets %}


{% block header %}
{% endblock header %}

{% block body %}
<div class="body">
    <div class="wrapper">
        <div class="container sidebar-color">
            <div class="content white" id="content">
                {% block seotext %}
                    <div class="seotext" id="seotext">
                        <p>{{ 'seo_text'|trans({}, 'TimVhostingBundle') }}</p>
                    </div>
                {% endblock seotext %}

                <div class="content-main">
                    <div class="tags-filter">
                        <div class="dropdown-filters row">
                            <div class="dropdown item">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ 'frontend.tag.best'|trans({}, 'TimVhostingBundle') }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">{{ 'frontend.tag.popular'|trans({}, 'TimVhostingBundle') }}</a></li>
                                    <li><a href="#">{{ 'frontend.tag.best'|trans({}, 'TimVhostingBundle') }}</a></li>
                                    <li><a href="#">{{ 'frontend.tag.comment'|trans({}, 'TimVhostingBundle') }}</a></li>
                                    <li><a href="#">{{ 'frontend.tag.new'|trans({}, 'TimVhostingBundle') }}</a></li>
                                </ul>
                            </div>

                            <div class="dropdown item">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ 'frontend.tag.for_week'|trans({}, 'TimVhostingBundle') }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">{{ 'frontend.tag.for_all_time'|trans({}, 'TimVhostingBundle') }}</a></li>
                                    <li><a href="#">{{ 'frontend.tag.today'|trans({}, 'TimVhostingBundle') }}</a></li>
                                    <li><a href="#">{{ 'frontend.tag.for_week'|trans({}, 'TimVhostingBundle') }}</a></li>
                                    <li><a href="#">{{ 'frontend.tag.month'|trans({}, 'TimVhostingBundle') }}</a></li>
                                </ul>
                            </div>

                            <div class="dropdown item">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ 'frontend.tag.time.any'|trans({}, 'TimVhostingBundle') }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">{{ 'frontend.tag.time.any'|trans({}, 'TimVhostingBundle') }}</a></li>
                                    <li><a href="#">{{ 'frontend.tag.time.small'|trans({}, 'TimVhostingBundle') }}</a></li>
                                    <li><a href="#">{{ 'frontend.tag.time.middle'|trans({}, 'TimVhostingBundle') }}</a></li>
                                    <li><a href="#">{{ 'frontend.tag.time.long'|trans({}, 'TimVhostingBundle') }}</a></li>
                                    <li><a href="#">{{ 'frontend.tag.time.verylong'|trans({}, 'TimVhostingBundle') }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <nav class="tags collapsed">
                        {% for tag in tags %}
                            <a href="#" class="link tag-link pinned weight-{{ tag.classificationNumber + 1 }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </nav>

                    <div class="result-wrap">
                        <div class="result">
                            {% for video in pagination %}
                                <a href="{{ path('show_video_name', {'name' : video}) }}" class="result-item is-favorites-initialized" >
                                    <div class="item-img" style="background-image:url(http://img.youtube.com/vi/{{ video.youtubeVideoId }}/0.jpg)"></div>
                                    <h3 class="item-title" title="{{ video }}">{{ video }}</h3>
                                    <span class="item-stats">
                                      <span class="item-stats-left">
                                        <span class="item-plus" title="{{ 'frontend.video.rating'|trans({}, 'TimVhostingBundle') }}"><i class="fa fa-thumbs-o-up"></i> {{ video.likeCount }}</span>
                                        <span class="item-views" title="{{ 'frontend.video.view'|trans({}, 'TimVhostingBundle') }}"><i class="fa fa-binoculars"></i> {{ video.viewCount }}</span>
                                        <span class="item-comments" title="{{ 'frontend.video.comment'|trans({}, 'TimVhostingBundle') }}"><i class="fa fa-comments"></i> {{ video.commentCount }}</span>
                                          {% if video.durationVideo is not null %}
                                              <span class="item-duration" title="{{ 'frontend.video.duration'|trans({}, 'TimVhostingBundle') }}"><i class="fa fa-clock-o"></i> {{ video.durationVideoAsString }}</span>
                                          {% else %}
                                              <span class="item-duration" title="{{ 'frontend.video.duration'|trans({}, 'TimVhostingBundle') }}"><i class="fa fa-clock-o"></i> {{ 'frontend.video_duration_unknown'|trans({}, 'TimVhostingBundle') }}</span>
                                          {% endif %}
                                      </span>
                                    </span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <aside class="menu">
            <div>
                <div class="">
                    <p class="logo"></p>
                    <form method="post" class="search-form">
                        <input class="form-control" name="search" placeholder="{{ 'header.search'|trans({}, 'TimVhostingBundle') }}..."
                               type="text">
                        <input class="search-submit" value="" type="submit">
                    </form>
                </div>

                <div class="">
                    <div>
                        <a class="menu-link" href="#">Test1</a>
                        <a class="menu-link" href="#">Test2</a>
                        <a class="menu-link" href="#">Test3</a>
                    </div>

                    <div>
                        <a class="menu-link" href="#">Test4</a>
                        <a class="menu-link" href="#">Test5</a>
                        <a class="menu-link" href="#">Test6</a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
{% endblock body %}

{% block footer %}
{% endblock footer %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script> #}
{% endblock javascripts %}