{% extends '@TimVhosting/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@TimVhostingBundle/Resources/public/css/frontend.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                {#<img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Example headline.</h1>
                        <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>#}
            </div>
            <div class="item">

            </div>
            <div class="item">

            </div>
            <div class="item">

            </div>
            <div class="item">

            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container" style="margin-bottom: 40px;">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>
                            <div>
                                <h3 class="panel-title" style="text-align: left;">
                                    <span>
                                        {{ 'frontend.video_list'|trans({}, 'TimVhostingBundle') }}
                                    </span>

                                    <span style="float: right;">
                                        {{ 'frontend.video_found_count'|trans({}, 'TimVhostingBundle') }}: {{ pagination.getTotalItemCount }}
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        {% for video in pagination %}
                            {% if loop.index is odd %}<div class="row">{% endif %}

                            {% if video.youtubeVideoId is not null %}

                                <div class="div-img-content">
                                    <a href="{{ path('show_video_name', {'name' : video}) }}">
                                        <img src="http://img.youtube.com/vi/{{ video.youtubeVideoId }}/0.jpg"
                                             alt="{{ video }}" width="90%" align="center" />
                                    </a>
                                    <p>
                                        <strong>
                                            <span style="font-size: 20px;">{{ video }}</span>
                                        </strong>
                                    </p>
                                    <p style="text-align: left;">
                                        {#{{ 'frontend.video_added'|trans({}, 'TimVhostingBundle') }}: {{ video.createdAt|date("d F Y H:i") }}#}
                                        {{ 'frontend.video_added'|trans({}, 'TimVhostingBundle') }}: {{ video.createdAt|date("d F Y") }}
                                        {% if video.durationVideo is not null %}
                                            <br/>{{ 'frontend.video_duration'|trans({}, 'TimVhostingBundle') }}: {{ video.durationVideoAsString }}
                                        {% endif %}
                                    </p>
                                </div>
                            {% else %}
                                <div class="div-img-content">
                                    <a href="{{ path('show_video_name', {'name' : video}) }}">
                                        <img src="http://img.youtube.com/vi/{{ video.youtubeVideoId }}/0.jpg"
                                             alt="{{ video }}" width="90%" align="center" />
                                    </a>
                                    <p>
                                        <strong>
                                            <span style="font-size: 20px;">{{ video }}</span>
                                        </strong>
                                    </p>
                                    <p style="text-align: left;">
                                        {#{{ 'frontend.video_added'|trans({}, 'TimVhostingBundle') }}: {{ video.createdAt|date("d F Y H:i") }}#}
                                        {{ 'frontend.video_added'|trans({}, 'TimVhostingBundle') }}: {{ video.createdAt|date("d F Y") }}
                                        {% if video.durationVideo is not null %}
                                            <br/>{{ 'frontend.video_duration'|trans({}, 'TimVhostingBundle') }}: {{ video.durationVideoAsString }}
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}

                            {% if loop.index is not odd %}</div>{% endif %}
                        {% endfor %}

                        <div class="navigation navigation-frontend">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'frontend.video_tags'|trans({}, 'TimVhostingBundle') }}</h3>
                    </div>
                    <div class="panel-body">
                        {% for tag in tags %}
                            {% set className = 'btn-success' %}
                            {% if selectedTag is defined %}
                                {% if selectedTag == tag %}
                                    {% set className = 'btn-primary' %}
                                {% endif %}
                            {% endif %}
                            <a href="{{ path('ShowVideoByTag', {'tag' : tag}) }}"><button type="button" class="btn {{ className }} btn-tags">{{ tag }}</button></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block footer_container %}
    <p class="pull-right"><a href="#">{{ 'footer.back_to_top'|trans({}, 'TimVhostingBundle') }}</a></p>
    {{ parent() }}
{% endblock footer_container %}